/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

img {
  max-width: 100%;
  max-height: 100px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', arial, sans-serif;
  background-color: #eaedf2;
}

.each_uni {
  display: inline-block;
  width: 30%;
}

.btn {
  text-align: center;
  background-color: white;
  padding: 10px;
  border: 1px solid grey;
  width:200px;
  margin-top: 10px;
}

.universities ul {
  margin: 1%;
  padding: 0;
  list-style: none; /* remove bullet points */
}

.universities ul li {
  display: inline-block;; /* list items appear next to each other */
  width: 26%; /* split gallery in 3 columns */
  margin: 1%;
  padding: 2%;
  height: 200px;
}

.uni_image {
  height: 150px;
  overflow: hidden; /* hide image that goes over this height */
}

.each_uni {
  background-color: white;
  font-size: 20px;
  height: 100px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}
